<table border="1">
    <tr>
        <th>Key</th>
        <th>Values</th>
    </tr>
    {% for key, value_list in data.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>
                {% for value in value_list %}
                    <button>{{ value }}</button><br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>